@model Countries

@{
    ViewData["Title"] = "Create Countries";
}
<form asp-action="Delete" method="post">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <label asp-for="CountryCode">Country Code</label>
                <input asp-for="CountryCode" class="form-control" />
                <span asp-validation-for="CountryCode"></span>
            </div>

            <div class="form-group">
                <label asp-for="CountryCode">Country Code</label>
                <input asp-for="CountryCode" class="form-control" />
                <span asp-validation-for="CountryCode"></span>
            </div>

            <div class="form-group">
                <button type="submit" asp-action="Delete" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>

</form>
