@model Countries

<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>Country Code</td>
        <td> Country Name</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.CountryCode</td>
        <td>@Model.CountryName</td>
    </tr>
</table>