@model Places

@{
    ViewData["Title"] = "Create Review";
    var cities = ViewData["cities"] as IEnumerable<SelectListItem>;
    var places = ViewBag.places as Places;
}
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <label asp-for="HostId">Host Id</label>
                <input asp-for="HostId" class="form-control" />
                <span asp-validation-for="HostId"></span>
            </div>
 
            <div class="form-group">
                <label asp-for="Address"> Address</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address"></span>
            </div>

            <div class="form-group">
                <label asp-for="CityId"> City Id</label>

                <select asp-for="CityId" asp-items="@cities" class="form-control" id="CityId">
                    <option value="1">--Select--</option>
                </select>
                @*<input asp-for="CityId" class="form-control" />*@
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Image">Image File</label>
                <input type="file" asp-for="Image"  class="form-control" name="file" />
@*                <img src="(@Model.Image == null ? null : @Model.Image)" />
*@                <span asp-validation-for="Image"></span>
            </div>


            <div class="form-group">
                <button type="submit" asp-action="Create" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>

</form>
