@model Cities

@{
    ViewData["Title"] = "Create Countries";
}
<form asp-action="Delete" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-8 offset-2">
            <div class="form-group">
                <label asp-for="Name">Country Code</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <label asp-for="CountryId">Country Code</label>
                <input asp-for="CountryId" class="form-control" />
                <span asp-validation-for="CountryId"></span>
            </div>

            <div class="form-group">
                <button type="submit" asp-action="Delete" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>

</form>
