@model Cities

<table class="table table-striped">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td> Country Id</td>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.CountryId</td>
    </tr>
</table>